[submodule "modulo07-ferramentas-de-ia-para-gestao-de-projetos/modulo-08-governanca-e-compliance/routewise-danger-demo"]
	path = modulo07-ferramentas-de-ia-para-gestao-de-projetos/modulo-08-governanca-e-compliance/routewise-danger-demo
	url = https://github.com/unipds-engenharia-de-ia-aplicada/routewise-danger-demo.git
