# Framework Base de Agentes
crewai==1.14.4
crewai[tools]==1.14.4

# LLM e Orquestração
langchain-groq
python-dotenv

# Interface Visual (Módulo 6)
streamlit

# Ferramentas de Infra e Segurança
checkov<3.0.0
kubernetes

# Utilitários de Dados
pandas
numpy

litellm