LANGSMITH_API_KEY=your-langsmith-api-key-here
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=transforming-services-into-tools


OPENROUTER_API_KEY=your-openrouter-api-key-here
SERPAPI_API_KEY=your-serpapi-api-key-here
